/*
	Feed tweets
*/

body[data-hidereplies]
  div[data-testid="reply"]
  span.css-901oao.css-16my406.r-1qd0xha.r-ad9z0x.r-bcqeeo.r-qvutc0 {
  display: none;
}

body[data-hideretweets] {
  div[data-testid="retweet"], div[data-testid="unretweet"] {
    span.css-901oao.css-16my406.r-1qd0xha.r-ad9z0x.r-bcqeeo.r-qvutc0 {
      display: none;
    }
  }
}
  
body[data-hidelikes] {
  div[data-testid="like"], div[data-testid="unlike"] {
    span.css-901oao.css-16my406.r-1qd0xha.r-ad9z0x.r-bcqeeo.r-qvutc0 {
      display: none;
    }
  }
}

/*
	Single tweet (example: https://twitter.com/AstronoMegD/status/1248141555589951488)
*/

body[data-hideretweets]
  div.css-1dbjc4n.r-1ila09b.r-qklmqi.r-1adg3ll
  div.css-1dbjc4n.r-1kfrmmb.r-1efd50x.r-5kkj8d.r-18u37iz.r-9qu9m4
  a[href$="retweets"] {
  display: none;
}

body[data-hidelikes]
  div.css-1dbjc4n.r-1ila09b.r-qklmqi.r-1adg3ll
  div.css-1dbjc4n.r-1kfrmmb.r-1efd50x.r-5kkj8d.r-18u37iz.r-9qu9m4
  a[href$="likes"] {
  display: none;
}

/*
  Profile (example: https://twitter.com/DeborahMeaden/status/1249679362863124480)
*/

body[data-hidefollowers]
  div.css-1dbjc4n.r-18u37iz
  a[href$="followers"]
  span.css-901oao.css-16my406.r-1qd0xha.r-ad9z0x.r-bcqeeo.r-qvutc0 {
  display: none;
}
